*{
    padding: 0;
    margin: 0;
}
.ss{
    margin-left: 680px;
}
.db{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
p{
    width: 40%;
}
ul{
    width: 40%;
    text-align: right;
    margin-right: 300px;
}
table{
width: 100%;
height: 600px;
border: 1px solid rgb(165, 157, 157);
}
thead{
    width: 100%;
    height: 30px;
    justify-content: space-between;
    background-color:rgb(118, 123, 122);
}
tr{
    width: 100%;
    line-height: 30px;
    /* background-color: rgb(118, 123, 122); */
}
th{
    width: 33%;
    height: 100%;
    border-bottom: 1px solid rgb(0, 0, 0);
}
td{
    text-align: center;
    border-bottom: 1px solid rgb(211, 203, 193);
}
.q2{
    display: flex;
    justify-content: space-around;
}